.cabecalho {
	display:  flex;
	background: #f9f9f9;
	align-items: center;
	justify-content: space-between;
	padding-right: 2rem;
	padding-left: 2rem;
}

@media screen and (min-width: 0) {
	.cabecalho {
		justify-content: center;
		padding:  0 1rem;
	}
}

@media screen and (min-width: 768px) {
	.cabecalho {
		padding:  0 5rem;
		justify-content: space-between;
	}
}